services:
  scheduler:
    depends_on:
      postgres:
        condition: service_healthy
      migrate:
        condition: service_completed_successfully
      nats:
        condition: service_started
      nats-init:
        condition: service_completed_successfully
    build:
      context: .
      dockerfile: Dockerfile
      target: scheduler
    ports:
      - "8090:8090"

    environment:
      - CONFIG_PATH=./config/local.yaml

  worker:
    build:
      context: .
      dockerfile: Dockerfile
      target: worker
    environment:
      - CONFIG_PATH=./config/local.yaml
    depends_on:
      nats:
        condition: service_started
      nats-init:
        condition: service_completed_successfully

  nats:
    image: nats:2-alpine
    ports:
      - "4222:4222"
      - "8222:8222"
    command:
      - "-js"
      - "-sd"
      - "/data"
      - "-m"
      - "8222"
    volumes:
      - nats_data:/data
    restart: unless-stopped

  nats-init:
    image: natsio/nats-box:latest
    depends_on:
      nats:
        condition: service_started
    entrypoint: [ "/bin/sh", "-c" ]
    command:
      - |
        sleep 5
        nats stream add JOBS \
          --server=nats://nats:4222 \
          --subjects "JOBS.interval.*" \
          --subjects "JOBS.once.*" \
          --subjects "JOBS.completed" \
          --storage file \
          --retention work \
          --max-age 1d \
          --replicas 1 \
          --discard old \
          --max-msgs=-1 \
          --max-bytes=-1 \
          --max-msg-size=-1 \
          --dupe-window 2m \
          --defaults
        echo "NATS JetStream initialized with JOBS stream"
    restart: "no"

  postgres:
    image: postgres:17
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=scheduler
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d scheduler"]
      interval: 3s
      timeout: 2s
      retries: 2

  migrate:
    image: gomicro/goose:3.25.0
    container_name: goose_migrate
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      GOOSE_DRIVER: postgres
      GOOSE_DBSTRING: "user=user password=password host=postgres port=5432 dbname=scheduler sslmode=disable"
      GOOSE_MIGRATION_DIR: "/migrations"
    volumes:
      - ./migrations:/migrations
    command: [
      "goose",
      "up"
    ]

volumes:
  postgres:
  nats_data: